If:
  PathMatch: .*

CompileFlags:
  Remove:
    - -mlongcalls
    - -fstrict-volatile-bitfields
    - -fno-tree-switch-conversion
    - -fconcepts-diagnostics-depth=*
  CompilationDatabase: "build"

Diagnostics:
  UnusedIncludes: Strict
  ClangTidy:
    Add: modernize*
    Remove: modernize-use-trailing-return-type
    CheckOptions:
      readability-identifier-naming.VariableCase: snake_case

InlayHints:
  Enabled: Yes
  Designators: No
  DeducedTypes: Yes
  ParameterNames: Yes

---

If:
  PathMatch: [src/.*, modules/.*, lib/.*]
  PathExclude:
    - src/99-serial-monitor.*
    - lib/emulation.*

CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -xc++
    - -target
    - arm-none-eabi
    - -include/opt/arm-none-eabi/arm-none-eabi/include/c++/13.3.1/arm-none-eabi/bits/c++config.h
    - -isystem/opt/arm-none-eabi/arm-none-eabi/include/c++/13.3.1
    - -isystem/opt/arm-none-eabi/arm-none-eabi/include/c++/13.3.1/arm-none-eabi
    - -isystem/opt/arm-none-eabi/arm-none-eabi/include/c++/13.3.1/backward
    - -isystem/opt/arm-none-eabi/lib/gcc/arm-none-eabi/13.3.1/include
    - -isystem/opt/arm-none-eabi/lib/gcc/arm-none-eabi/13.3.1/include-fixed
    - -isystem/opt/arm-none-eabi/arm-none-eabi/include
    - --sysroot=/opt/arm-none-eabi
  Remove:
    - -W*
    - -fconcepts
  Compiler: clang

---

If:
  PathMatch: src/01-serial-monitor.*

CompileFlags:
  Compiler: clang

---

If:
  PathMatch: src-esp32/.*

CompileFlags:
  Add:
    - -Wall
    - -Wextra
    - -xc++
    - -include/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include/c++/11.2.0/xtensa-esp32-elf/bits/c++config.h
    - -include/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include/pthread.h
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include/c++/11.2.0/
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include/c++/11.2.0/xtensa-esp32-elf
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/xtensa-esp32-elf/include/c++/11.2.0/backward
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/lib/gcc/xtensa-esp32-elf/11.2.0/include/
    - -isystem/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf/lib/gcc/xtensa-esp32-elf/11.2.0/include-fixed/
    - -isystem/opt/esp-idf/components/lwip/include
    - -isystem/opt/esp-idf/components/soc/esp32/
    - --sysroot=/home/vscode/.espressif/tools/xtensa-esp32-elf/esp-2022r1-11.2.0/xtensa-esp32-elf
    - -U__linux__
    - -DSSIZE_MAX=INT_MAX
    - -Wno-format
  Remove:
    - -D__linux__
    - -Wformat
  Compiler: clangd