[submodule "srobo_base"]
	path = srobo_base
	url = git@github.com:nnctroboticsclub/srobo_base.git
[submodule "im920_rs"]
	path = im920_rs
	url = git@github.com:nnctroboticsclub/im920_rs.git
[submodule "devcontainers"]
	path = devcontainers
	url = git@github.com:syoch/devcontainers
[submodule "work/syoch-robotics"]
	path = work/syoch-robotics
	url = git@github.com:nnctroboticsclub/syoch-robotics.git
[submodule "work/devcontainers"]
	path = work/devcontainers
	url = git@github.com:syoch/devcontainers
[submodule "libs/ikarashiCAN_mk2"]
	path = libs/ikarashiCAN_mk2
	url = git@github.com:nnctroboticsclub/ikarashiCAN_mk2
[submodule "libs/ikakoMDC"]
	path = libs/ikakoMDC
	url = git@github.com:nnctroboticsclub/ikakoMDC
[submodule "libs/MotorController"]
	path = libs/MotorController
	url = git@github.com:nnctroboticsclub/MotorController
[submodule "libs/IkakoRobomas"]
	path = libs/IkakoRobomas
	url = git@github.com:nnctroboticsclub/IkakoRobomas
[submodule "work/static-mbed-os"]
	path = work/static-mbed-os
	url = git@github.com:nnctroboticsclub/static-mbed-os
[submodule "work/apt-2025"]
	path = work/apt-2025
	url = git@github.com:nnctroboticsclub/apt-2025.git
[submodule "work/raspi-services"]
	path = work/raspi-services
	url = git@github.com:nnctroboticsclub/raspi-services.git
[submodule "work/ppa-2025"]
	path = work/ppa-2025
	url = git@github.com:nnctroboticsclub/ppa-2025.git
