[submodule "libs/ikarashiCAN_mk2"]
	path = libs/ikarashiCAN_mk2
	url = git@github.com:nnctroboticsclub/ikarashiCAN_mk2
[submodule "libs/ikakoMDC"]
	path = libs/ikakoMDC
	url = git@github.com:nnctroboticsclub/ikakoMDC
[submodule "libs/MotorController"]
	path = libs/MotorController
	url = git@github.com:nnctroboticsclub/MotorController
[submodule "libs/IkakoRobomas"]
	path = libs/IkakoRobomas
	url = git@github.com:nnctroboticsclub/IkakoRobomas
[submodule "work/static-mbed-os"]
	path = work/static-mbed-os
	url = git@github.com:nnctroboticsclub/static-mbed-os
[submodule "services/raspi-services"]
	path = services/raspi-services
	url = git@github.com:nnctroboticsclub/raspi-services
[submodule "rust-test/im920_rs"]
	path = rust-test/im920_rs
	url = git@github.com:nnctroboticsclub/im920_rs
[submodule "rust-test/srobo_base"]
	path = rust-test/srobo_base
	url = git@github.com:nnctroboticsclub/srobo_base
[submodule "libs/syoch-robotics"]
	path = libs/syoch-robotics
	url = git@github.com:nnctroboticsclub/syoch-robotics
[submodule "nhk-2024-b"]
	path = nhk-2024-b
	url = git@github.com:nnctroboticsclub/nhk-2024-b.git
[submodule "libs/roboenv-nix"]
	path = libs/roboenv-nix
	url = git@github.com:nnctroboticsclub/roboenv-nix
